.container {
    padding: var(--cms-ui-spacing-lg);

    .content {
        .table {
            background-color: var(--cms-ui-color-white-card);
            width: 100%!important;
        }
    }
}
