.container {
    padding: var(--cms-ui-spacing-lg) var(--cms-ui-spacing-2xl);

    .action-content{
        display: flex;
        justify-content: flex-end;
        gap: var(--cms-ui-spacing-md);
    }
}

