.banner {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
    justify-content: center; 
    background-color: var(--cms-ui-color-blue-600);
    color: var(--cms-ui-color-faded-white);

    .background-layer {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
        z-index: 0;
        width: 100%;
        height: 100%;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: var(--cms-ui-spacing-xl);
        gap: var(--cms-ui-spacing-md);
        max-width: 40rem;
    }

    .description {
        font-size: var(--cms-ui-font-size-md);
        font-weight: var(--cms-ui-font-weight-medium);
    }
}

.form-container {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cms-ui-color-white-card);
    padding: var(--cms-ui-spacing-sm);
    color: var(--color-heading);
    gap: var(--cms-ui-spacing-lg);

    .form-content {
        width: 35rem;
        max-width: 90vw;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: var(--cms-ui-spacing-md);
    }

    .login-button {
        background-color: var(--cms-ui-color-yellow-550);
        width: 100%;
        color: var(--color-heading);
    }
}

@media (max-width: 768px) {
    .banner {
        align-items: stretch;
        flex-direction: column;
        padding: var(--cms-ui-spacing-md);

        .background-layer {
            position: relative;
            width: 100%;
            height: 200px;
        }

        .image {
            object-fit: cover;
        }

        .content {
            padding: var(--cms-ui-spacing-sm);
            text-align: center;
        }
    }

    .form-container {
        padding: var(--cms-ui-spacing-md);
        gap: var(--cms-ui-spacing-md);

        .form-content {
            padding: 0;
            width: 100%;
           
        }
    }
}
